<banner></banner>
  <div class="wrapper">
    <form class="form-signin" (ngSubmit)="onSubmit()">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" name="username" required autofocus="" />
      <br />
      <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" required />      
      <label class="checkbox">
         <input type="checkbox" name="remember-me" id="remember-me" />Remember me
      </label>
      <button class="btn btn-primary btn-block" type="submit">Login</button>   
    </form>
  </div>